<%- include("./partials/header.ejs") %>
    <%- include("./partials/navbar.ejs") %>


<aside id="nav_menu" style="height: 100%;>
    <input type="checkbox" id="btn_menu">
    <label for="btn_menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </label>
    <nav id="" style="height: 100%;">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Sobre</a></li>
        </ul>
    </nav>
</aside>

<!--<article>
    <div>
        <% produtos_categoria.forEach(produto => { %>
            <p><%= produto.TITULO_PRODUTO %></p>
            <p><%= produto.DESCRICAO_PRODUTO %></p>
            <p><%= produto.VALOR_PRODUTO %></p>
            <br>
        <% }) %>
    </div>
</article> -->