<%- include("../partials/header.ejs") %>
    <%- include("../partials/navbar.ejs") %>


    <div class="d-flex" id="">

        <!-- Sidebar -->
        <div class="bg-dark border-right" id="filtros">
          <h5 class="ms-4 my-3 text-light">Filtros</h5>

            <div class="row mt-3 ps-4">
                <label for="precos" class="text-light mb-2">Preços</label>
                <div class="input-group mb-3" style="width: 75%;">
                    <span class="input-group-text">Min</span>
                    <input type="text" name="min" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>

                <div class="input-group mb-5" style="width: 75%;">
                    <span class="input-group-text">Max</span>
                    <input type="text" name="max" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>

                <label for="" class="text-light mb-2">Ordenar</label>
                <select class="form-select mb-5" name="ordem" aria-label="Default select example" style="width: 68%; margin-left: 10px;">
                    <option selected>Selecione</option>
                    <option value="1">Menor preço</option>
                    <option value="2">Maior preço</option>
                </select>

                <label for="cidade" class="text-light mb-2">Região</label>
                <select class="js-example-basic-single form-select w-75" name="cidade" id="cidade" onchange="filtrarProdutos()">
                    <option value="">Selecione</option>
                    <% cidades.forEach(cidade => { %>
                        <option value="<%= cidade.ID_CIDADE %>"><%= cidade.NOME_CIDADE %></option>  
                    <% }) %>
                </select>
            </div>
            <input type="hidden" name="categoria" value="<%= categoria %>">

        </div>
        <!-- /#sidebar-wrapper -->
    
        <!-- Page Content -->
        <div id="page-content-wrapper">
    
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary ms-3" id="menu-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-filter-left" viewBox="0 0 16 16">
                    <path d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                </svg>
                Filtros

            </button>

          </nav>
    
          <article class="container-fluid" id="content">
            
                <div class="row justify-content-center mt-5">
                    <div class="col-11">
                        <% if(typeof pesquisa !== 'undefined') { %>
                            <h3>Produtos encontrados</h3>
                        <% } else { %>
                            <h3><%= categoria.NOME_CATEGORIA %></h3>
                        <% } %>
                        <hr>
                    </div>
                </div>
                <div class="row mt-4 mb-5" id="semProdutos" style="display: none;">
                    <div><%- include("../partials/semProdutos.ejs") %></div>
                </div>
                <div class="row mt-1 px-5" id="listaProdutos">

                    

                    <% if(produtos.length > 0) {
                        var contLength = produtos.length;
                        produtos.forEach(produto => { 
                            if(produto.CONDICAO_ANUNCIO == 1) { %>

                                <div class="col-lg-3">
                                    <a href="/produto/visualizar/<%= produto.SLUG_PRODUTO %>">
                                        <div class="card text-white bg-dark mb-3 ms-auto mt-3 me-auto cardProdutos" style="max-width: 18rem; height: 420px"">
                                            <% for(var i = 0; i < imgProduto.length; i++) { %>               
                                                <% if(imgProduto[i].FK_PRODUTO == produto.ID_PRODUTO) { %>
                                                    <div class="divImgCard">
                                                        <img src="/img/produtos/<%= imgProduto[i].KEY_IMG.replace(/'/g, '') %>" class="img-fluid mx-auto" alt="..." style="height:250px; width: 100%;">     
                                                    </div>
                                                    <% break; %>
                                                <% } %>  
                                            <% } %>                                                                                                                                                
                                            <div class="card-body">
                                                <h6 class="card-title texto_overflow"><%= produto.TITULO_PRODUTO %></h6>
                                                <h6 class="card-title my-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                                    </svg>
                                                    <%= produto.TB_CIDADE.NOME_CIDADE %> - <%= produto.TB_ESTADO.UF_ESTADO %>
                                                </h6>
                                                <h5 class="card-text text-success">R$ <%= produto.VALOR_PRODUTO %>,00</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <% } else {
                                contLength = contLength - 1;
                            }

                            if(contLength == 0) { %>

                                <div><%- include("../partials/semProdutos.ejs") %></div>
        
                            <% }
                        })
                        
                    } else { %>

                        <div><%- include("../partials/semProdutos.ejs") %></div>

                    <% } %>
                </div>
            
          </article>
        </div>
        <!-- /#page-content-wrapper -->
    
      </div>

     <!-- JavaScript -->
    <script src="/js/script.js"></script>
    <script src="/js/jquery/jquery.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });

        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
      <!-- /#wrapper -->

<%- include("../partials/footer.ejs") %>